html, body{
    background-color: #e0e0e0;
}

main{
    margin: 30px auto;
    display: table;
    width: 100%;
}

ul{
    list-style: none;
    padding: 0;
}

nav{
    padding: 30px;
}
.result{
    width: 100%;
    font-size: 17px;
    padding: 20px 10px;
    background-color: #4010a4;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

select {
    padding: 5px;
}

.container-1{
    background: #f0f0f0;
    border: 1px solid black;
    margin: 100px;
    padding: 20px;
}

.row{
    margin: 0;
}
.toast {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500s ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}

.fadeIn {
    opacity:1;
}
